h1{
text-align: center;
}
.list{
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    border: 2px solid black;
    ;

}
.wrapper{
    display: flex;
    gap: 40px;

}
body{
    background-color: rgb(206, 206, 206);
}
.box{
    background-color: white;
    padding: 10px;
    border: 2px solid black;
}
.item{
    background-color:rgb(206, 206, 206) ;
}
img{
    width: 150px;
}
